@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@500&display=swap');

*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;

    
}

#fondo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    /* background-image: url("../img/frutas.jpg"); */
    background-image: linear-gradient(#ffffff80, #ffffff50), url("../img/frutas.jpg");
    background-size: cover;
}

#inicio{
 background-color: rgb(67, 122, 122);
 width: 400px;
 margin: 0 auto;
 border: 3px solid rgb(62, 62, 97);
 padding: 20px 30px;
 border-radius: 15px;
}

p#error{
    background-color: rgba(255, 0, 0, 0.35);
    font-size: 1rem;
}

label{
    text-align: center;
    width: 100%;
}

#pform{
    margin-bottom: 15px;
}

input{
    width: 100%;
    margin-bottom: 20px;
    height: 32px;
    text-align: center;
    font-size: 1.5rem;
}


#container {
    max-width: 900px;
    margin: 0 auto;
    display: none;
}

h1 {
    color: black;
    font-size: 6em;
    text-align: center;
    font-family: 'Pacifico', cursive;
    border-bottom: 5px dashed green;
    font-weight: 100;
}

h2 {
    color: black;
    font-size: 2.5em;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

p {
    color: black;
    font-size: 1.5em;
    text-align: center;
    margin-top: 0;
}

#subtitulo {
    font-size: 2em;
}

#frutas {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}

.imagen {
    width: 80%;
}

.imagenes {
    width: 25%;
}

.imagenes:hover {
    background-color: rgba(69, 202, 91, 0.521);
    border: 2px solid gray;
    border-radius: 5px;
}

.parcialCompra {
    text-align: end;
}

#finalCompra {
    text-align: end;
    font-weight: bold;
}